<!-- templates/home.html-->
{% extends 'main/base.html' %}


{% block content %}
<div>

<img src=https://media.gettyimages.com/photos/healthy-fresh-rainbow-colored-fruits-and-vegetables-in-a-row-picture-id1208790364?s=2048x2048  class="center">
  <div class="col-md-12 text-center" style="margin:5px">
    <a type="button" class="btn btn-secondary btn-lg" href="fruit_and_vegetables" role="button">Fruit and Vegetables</a>
  </div>


<img src=https://media.gettyimages.com/photos/loaf-of-bread-still-life-picture-id947886300?s=2048x2048  class="center">
  <div class="col-md-12 text-center" style="margin:5px">

    <a type="button" class="btn btn-secondary btn-lg" href="bread_and_baking_goods" role="button">Bread and Baking Goods</a>

  </div>

<img src=https://media.gettyimages.com/photos/dairy-products-shot-on-rustic-wooden-table-picture-id910881428?s=2048x2048  class="center">
    <div class="col-md-12 text-center" style="margin:5px">
      <a type="button" class="btn btn-secondary btn-lg" href="dairy_products" role="button">Dairy Products</a>
    </div>

<img src=https://media.gettyimages.com/photos/various-cuts-of-raw-meat-shot-from-above-on-a-cast-iron-grill-picture-id1143086160?s=2048x2048  class="center">
      <div class="col-md-12 text-center" style="margin:5px">
        <a type="button" class="btn btn-secondary btn-lg" href="meat" role="button">Meat</a>
      </div>

<img src=https://media.gettyimages.com/photos/ice-cold-homemade-grapefruit-juice-on-pink-background-picture-id1256750774?s=2048x2048  class="center">
        <div class="col-md-12 text-center" style="margin:5px">
          <a type="button" class="btn btn-secondary btn-lg" href="juices_and_drinks" role="button">Juices and Drinks</a>
        </div>
</div>

{% endblock %}