{% extends 'main\base.html' %}

{% block content %}
    {% if user.is_authenticated %}

        Hi {{ user.username }}! This is your account.
    {% else %}

<form action={% url "accounts:login" %} method="post">
{% csrf_token %}
    {{ login_form }}
    <input type="submit" value="Submit">



  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member?</p>
      <a class="nav-link" href="/accounts/register/">Register <span class="sr-only">(current)</span></a>
  </div>
</form>




    {% endif %}










{% endblock content %}