{% extends 'main\base.html' %}
  
{% block content %}  
  
<div class = "login">  
  

    <h2>Register Here</h2>
  
         <form method="post" >  
             {% csrf_token %}
                     {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}


        {% for field in form %}
              {{ field.label_tag }}
            {{ field }}

            {{ field.errors.as_ul }}
        {% endfor %}
             <table>  
{#                {{ form.as_table }}#}
                 <tr>  
                    <td></td>  
                    <td><input type="submit" name="submit" value="Register" /></td>  
                </tr>  
             </table>  
         </form>  
     </div>  
  
{% endblock content %}  