<!--templates/registration/password_reset_form.html-->

{% extends 'main/base.html' %}

{% block content %}
    <h1 class="text-center mb-5">Reset Password</h1>
    <div class="alert alert-info mb-5">Please input your Email</div>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Reset</button>
    </form>


{% endblock %}