{% extends 'main\base.html' %}

{% block content %}
    <article class="card-body mx-auto" style="max-width: 500px;">
    <div class="shadow p-4 mb-5 bg-body rounded">
        <h3 class="card-title mt-3 text-center">Change password</h3>

<form action="{% url 'password_change' %}" method="post">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}

    {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
        </div>

        {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary btn-block">Change password</button>

</form>
        </div>
</article>
{% endblock %}