
<h1 class="head">{{ category.category }}</h1>

<h3>Products for this category</h3>
<div>
    {% for product in products %}
    <div>
        <h5>{{ product.name }}<h5/>
             <img style='max-width: 10%' src="{{ product.image_url|default_if_none:'#' }}"/>
        <div>{{ product.price }} zł </div>
        <div>{{ product.product_description }}  </div>
        <div>{{ product.order }}</div>

           <a href="{% url 'shop:order_add' product.id %}"> add to basket </a>



    </div>
    {% endfor %}
</div>